# Ignore raw and processed sequencing data
data/raw_reads/
data/clean_reads/
results/mapping/
results/assembly/
results/quast/
*.sam
*.bam
*.fastq
*.fasta
*.gz

# Ignore any other huge files
*.vcf
*.idx
*.fai
*.log
*.tmp
