# Ignore raw reads
data/raw_reads/
*.fastq
*.fastq.gz

# Ignore trimmed reads
results/trimming/
*_paired.fastq
*_unpaired.fastq

# Ignore mapping and alignment files
*.sam
*.bam
*.bai
results/mapping/

# Ignore SPAdes intermediate and large files (optional)
results/assembly/tmp/
results/assembly/spades.log
results/assembly/K*/  # SPAdes k-mer stage folders
